/* Media Queries */

@mixin telefono {
  @media (min-width: #{$telefono}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin box-sizing($box-model) {
  /* Esto es para que ningun margin ni padding cambie el tamaño de los objetos */
  box-sizing: $box-model;
}

@mixin boton($bgColor, $colorText) {
  background-color: $bgColor;
  color: $colorText;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: $radius;
  font-size: 0.8rem;
  padding: 1rem;
  outline: none;
  margin: 0.2rem;
  cursor: pointer;
}

@mixin input($color) {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid $color;
  border-radius: 4px;
  box-sizing: border-box;
}
